<div class="row">
  <div class="col-sm-4">
    <h3>Input:</h3>
    <textarea class="input">place your input here</textarea><br />
  </div>
  <div class="col-sm-4">
    <h4>Choose a function:</h4>
    <select>
      <option value="upper">upper</option>
      <option value="lower">lower</option>
      <option value="capitalize">capitalize</option>
      <option value="reverse">reverse</option>
      <option value="num2StringTransform">num2StringTransform</option>
      <option value="abbreviate">abbreviate</option>
      <option value="unAbbreviate">unAbbreviate</option>
      <option value="encode">encode</option>
      <option value="decode">decode</option>
    </select><br /><br />
    <button>click</button>
  </div>
  <div class="col-sm-4">
    <h3>Output:</h3>
    <div class="output" *ngIf = "outputText">
      {{outputText.textTransformed}}
    </div>
  </div>
</div>