<div class="row">
  <div class="col-sm-4">
    <h3>Input:</h3>
    <textarea class="input">place your input here</textarea><br />
    <!--<input [(ngModel)]="inputText" placeholder="place your input here"> -->
  </div>
  <div class="col-sm-4">
    
    <h4>Choose a function:</h4>

    <!-- [(ngModel)]="selectedOption" -->
    
    <select type="text" ng-model="this.selectedFunctionStr">
      <option *ngFor="let f of functionsStr">
         {{f}}
      </option>
    </select><br /><br />

    <button (click)="onButtonClick()">Let's transform</button>

  </div>
  <div class="col-sm-4">
    <h3>Output:</h3>
    <div class="output" *ngIf = "outputText">
      {{outputText.textTransformed}}
    </div>
  </div>
</div>