<div class="row">

  <div class="col-sm-4">
    <h3>Input:</h3>
    <textarea [(ngModel)]="inputText">place your input here</textarea>
  </div>
  
  <div class="col-sm-4">  
    <h4>Choose a function:</h4>
    
    <select type="text" [(ngModel)]="selectedFunction">
      <option *ngFor="let f of functions">
         {{f}}
      </option>
    </select><br /><br />

    <button (click)="onButtonClick(selectedFunction, inputText)">Let's transform</button>
  </div>

  <div class="col-sm-4">
    <h3>Output:</h3>
    
    <div class="output" *ngIf="outputText">
      {{outputText.textTransformed}}
    </div>
  </div>

</div>
